<div class="row p-3">
    <div class="col-1">
        <a [routerLink]="['/management']"><i class="fa fa-arrow-circle-o-left fa-2x align-top " aria-hidden="true" style="color:black"></i></a>
    </div>
    <div class="col-10">
        <h3>TimeLine do projeto</h3>
    </div>
</div>

<div class="row justify-content-between my-3 py-2">
    <div class="btn-group btn-group-toggle col-md-4" data-toggle="buttons">
        <button id="state1" type="button" class="btn btn-secondary" (click)="filterState(1, $event)" data-toggle="button" aria-pressed="false" autocomplete="off" >
            A fazer
        </button>
        <button id="state2" type="button" class="btn btn-secondary" data-toggle="button" (click)="filterState(2, $event)" aria-pressed="false" autocomplete="off" >
            Desenvolvendo
        </button>
        <button id="state3" type="button" class="btn btn-secondary" data-toggle="button" (click)="filterState(3,  $event)" aria-pressed="false" autocomplete="off" >
            Feito
        </button>
        <button id="state4" type="button" class="btn btn-secondary" data-toggle="button" (click)="filterState(4,  $event)" aria-pressed="false" autocomplete="off" >
            Todos
        </button>
    </div>
    <div class="col-md-4 text-left">
        <div class="btn-group btn-group-toggle " data-toggle="buttons">
            <button id="type1" type="button" class="btn btn-secondary" (click)="filterType(1, $event)" data-toggle="button" aria-pressed="false" autocomplete="off" >
                Arte
            </button>
            <button id="type2" type="button" class="btn btn-secondary" data-toggle="button" (click)="filterType(2, $event)" aria-pressed="false" autocomplete="off" >
                Programação
            </button>
            <button id="type3" type="button" class="btn btn-secondary" data-toggle="button" (click)="filterType(3,  $event)" aria-pressed="false" autocomplete="off" >
                Todos
            </button>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button id="myCards" type="button" class="btn btn-secondary" (click)="myCardsOn(1, $event)" data-toggle="button" aria-pressed="false" autocomplete="off" >
                Minhas tarefas
            </button>
            <button id="all" type="button" class="btn btn-secondary" data-toggle="button" (click)="myCardsOn(2,  $event)" aria-pressed="false" autocomplete="off" >
                Todas
            </button>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="menu text-center" >
        <a id="moveLeft" class="clicavel"><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></a>
        <a id="zoomIn" class="clicavel"><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></a>
        <a id="zoomOut" class="clicavel"><i class="fa fa-search-minus fa-2x" aria-hidden="true"></i></a>
        <a id="moveRight" class="clicavel"><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a>
        <a class="clicavel" (click)="focusToDay()"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
    </div>
</div>
<main class="row">
        <div id="visualization" class="vis-timeline"></div>
</main>