/* create a custom sized dot at the bottom of the red item */
.vis-item.red {
    background-color: red;
    border-color: darkred;
    color: white;
    font-family: monospace;
    box-shadow: 0 0 10px gray;
  }

  .selected{
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
  }

  .clicavel{
    cursor: pointer;
  }
  