<div class="row myRow justify-content-center align-items-left">
  <div class="col-8 card myCard">      
      <div class="card-body">
        <h5 class="card-title">{{ memberName }}</h5>
      </div>
      <div class="card-body row">
          <div class="col-sm-3">
              <p class="card-text">Seu Identificador:</p>
          </div>
          <div class="col-sm-9">
            <p class="card-text">{{ memberId }}</p>
          </div>
      </div>
  </div>
</div>