<app-nav-vertical [nameGO]="nameGO" [idList]="idList" [styleNav]=1 (delete)="delete($event)"></app-nav-vertical>
<main class="col-md-10 offset-md-2 col-xs-11 p-l-2 p-t-2 main-cards">
    <add-membro></add-membro>
</main>

