.cardGO{
    background: #56B9D0 !important;
}

.button-programacao{
    background: #FBBA42 !important;
}

.button-programacao:active {
    background-color: rgb(226, 168, 60) !important;
}
.main-cards{
    margin-left: auto!important;
}

.displayNone{
    display: none;
}

.show{
    display: block !important;
}

.close-card{
    position: absolute;
    right: 19%;
    top: 30px;
    cursor: pointer;
    display: none;
}