<app-nav-vertical [nameGO]="nameGO" [idList]="idList" [styleNav]=0 (delete)="delete($event)"></app-nav-vertical>
<main class="col-md-10 col-xs-11 p-l-2 p-t-2 main-cards">
  <h1>Programacao</h1>
    <div class="row justify-content-center" [class.displayNone]="show">
        <div class="card text-white cardGO m-3 col-lg-3" *ngFor="let card of arrayCards">
            <div class="card-header bg-transparent">
                <h5 class="card-title">{{ card.name }}</h5>
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">{{ card.name }}</h5> -->
              <p class="card-text">{{ card.desc }}</p>
            </div>
            <!-- <ul class="list-group text-dark list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul> -->
            <div class="card-footer bg-transparent ">
                <!-- [routerLink]="['/cards', card.id]" -->
                <a (click)="getCardDetalhe(card.id)" class="button-card">Detalhe</a>
            </div>
        </div>
    </div>
    <div>
        <a (click)="closeDetalhe()" class="close-card" [class.show]="show">Close</a>
    </div>
    <card-detalhe class="displayNone" [class.show]="show" (response)="feedback($event)"></card-detalhe>
    <!-- FAB button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect button-programacao" [routerLink]="['/create-card',idList, nameGO, 1]"> <!-- 1 define que esse GO é do type = Programacao -->
        <i class="fa fa-plus material-icons"></i>
    </button>
</main>

