<h1 class="text-left pb-5">{{ name_Board?.name }}</h1>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div  class="card text-white m-3 col-lg-3" *ngFor="let card of arrayCards" [style.background-color]="setColorCard(card)">
        <div class="card-header bg-transparent">
            <h5 class="card-title">{{ card.name }}</h5>
        </div>
      <div class="card-body">
          <p class="card-text">{{ card.desc }}</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="button-card" (click)="redirect(card.id, card.idList, card.labels)">mais</a>
      </div>      
    </div>
  </div>
</div> 