
.vertical-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: #fff;
}

.vertical-nav .title{
    font-size: 1.5em;
    color: #212121 !important;
    border-radius: 0;    
}

.vertical-nav a{
    color: #616161;
}

.clicked{
    cursor: pointer;
}

.noBorderRadios{
    border-radius: 0px !important;
}

.btn-outline-warning,.btn-outline-primary,.btn-outline-danger{
    border-color: transparent !important;
    text-align: left !important;
}


