<!-- Nav vertical de navegação dentro do GO -->
<div  class=" col-md-2 col-xs-1 p-l-0 p-r-0 vertical-nav">
    <ul id="accordion1" class="nav nav-pills flex-column">
      <li *ngIf="showGO"  class="nav-item">
        <a class="nav-link title" href="#item-1" data-toggle="collapse" data-parent="#accordion1">{{ nameGO }}</a>
        <div id="item-1" class="show">
          <ul class="nav flex-column">
            <li class="nav-item">
              <button type="button" [routerLink]="['/game-objects/sub-module-arte', idList]" class="btn btn-outline-warning btn-lg btn-block noBorderRadios">Arte</button>
            </li>
            <li class="nav-item">
              <button type="button" [routerLink]="['/game-objects/sub-module-programacao', idList]" class="btn btn-outline-primary btn-lg btn-block noBorderRadios">Programação</button>
            </li>
            <li class="nav-item">
              <button type="button" (click)="deleteGO()" class="btn btn-outline-danger btn-lg btn-block noBorderRadios">Deletar {{ nameGO }}</button>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="showManagement"  class="nav-item">
        <!-- <span class="title">GCL</span> -->
        <div id="item-1" class="show">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <button type="button" [routerLink]="['/timeLine']" class="btn btn-outline-secondary btn-lg btn-block noBorderRadios">TimeLine</button>
            </li>
            <!-- <li class="nav-item">
                <button type="button" [routerLink]="['/management']" class="btn btn-outline-secondary btn-lg btn-block noBorderRadios">Membros</button>
            </li> --> 
          </ul>
        </div>
      </li>
  </ul>