<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="card col-4">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <p>Use sua conta do Trello</p>
      </div>
      <div class="card-body">
        <a [attr.href]="token" target="_blank">Trello Login</a>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Token</label>
            <div class="col-sm-12">
              <input type="name" class="form-control" id="inputNome" placeholder="Digite aqui seu Token Ex:'338bcef11ec89cfdade4c6245bcca146e5ccb85a9f0ac9a31aa4e8f209337558' "
                name="token" ngModel>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <button type="submit" class="btn btn-success float-right">Validar Token</button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer bg-transparent">
        <a class="button-card" [routerLink]="['/cards', card.id]">Detalhe</a>
      </div> -->
    </div>
  </div>
</div>
