<div *ngIf="direct"  class="col-1 pt-3 float-left">
    <a [routerLink]="['/timeLine']"><i class="fa fa-arrow-circle-o-left fa-2x align-top " aria-hidden="true" style="color:black"></i></a>
</div>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="card col-sm-8">
      <div class="card-body">
        <h4 class="card-title">{{ card?.name }}</h4>
        <h6>Descrição</h6>
        <p class="card-text">{{ card?.desc }}</p>
        <h6>Game Object</h6>
        <p class="card-text">{{ nameGO }}</p>
        <h6>Data prevista para entrega</h6>
        <p class="card-text">{{ date_entrega }}</p>
        <h6>Membros</h6>
        <ul>
          <li *ngFor="let membro of listMembersOfCard" >{{ membro.fullName }}</li>
        </ul>
      </div>
      <div class="card-body" >
        <span>Tags</span>
        <span *ngFor="let badge of card?.labels" 
        class="badge" [style.background-color]="setColor(badge?.id)" 
        style="color: rgb(255, 255, 255);
        margin: 0px 5px;
        font-size: 0.9em;
        padding: 7px;
        text-transform: uppercase;
        background-color: black;">{{ badge?.name }}</span>
      </div>
      <div class="card-body row justify-content-end" >
        <button [routerLink]="['/edit-card', card?.id]" type="button" class="btn btn-warning button-card editar">Editar</button>
        <button type="button" class="btn btn-danger ml-2 button-card delete" (click)="delete(card?.id)">Deletar</button>
      </div>
    </div>
  </div>
</div>

