.cardGO{
    background: #FBBA42;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    /* height: 100px; */
    /* margin-top: 100px; */
    left: 50%;
}

.main-cards{
    margin-left: auto!important;
}

.displayNone{
    display: none;
}

.show{
    display: block !important;
}

.close-card{
    position: absolute;
    right: 19%;
    top: 30px;
    cursor: pointer;
    display: none;
}