/* Cores da app */
.amarelo{
    background: #FBBA42;
}
.azul{
    background: #56B9D0;
} 
.white{
    background: #fff;
}
.shadow-bar{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 -4px 8px rgba(0,0,0,.28);
}

.card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    /* color:#333 !important; */
}

.button_logout{
    cursor: pointer;
}

.aDisabled{
    pointer-events: none;
}

.aClicked{
    cursor: pointer;
}