<!--The content below is only a placeholder and can be replaced.-->
<nav *ngIf="mostrarMenu"  class="navbar fixed-bottom navbar-expand-lg navbar-light white shadow-bar">
    <a class="navbar-brand" routerLink="/perfil"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/arte">Arte</a>
        </li> -->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/cards" >Minhas tarefas</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/game-objects" >Game Objects</a>
        </li>
        <!-- aDisabled -->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/management" disabled>Management</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <div class="btn-group dropup">
            <button *ngIf="selectProject"  type="button" id="projetos" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- Projetos -->
                {{ nameProject }}
            </button>
            <div class="dropdown-menu" aria-labelledby="projetos">
                <a class="dropdown-item aClicked" *ngFor="let board of arrayMyBoards" (click)="selectProject(board.id)">{{ board.name }}</a>
                <a class="dropdown-item aClicked" data-toggle="modal" data-target="#modalProject"><i class="fa fa-plus" aria-hidden="true"></i>  Criar Projeto</a>
            </div>
            </div>
      </div>
      <div class="my-2 my-lg-0">
          <a class="nav-link button_logout" (click)="logout()" >Logout</a>
      </div>
    </div>
  </nav>
<div class="container" style="margin-bottom: 5%;">
    <router-outlet></router-outlet>
  </div>


  <!-- Modal -->
<div class="modal fade" id="modalProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Criar novo Projeto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputNome" placeholder="Ex: 'Angry Birds'" name="nome" ngModel>
                    </div>
                </div>
                <div class="float-right mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning text-white">Criar Projeto</button>
                </div>
            </form>   
        </div>
      </div>
    </div>
  </div>

