.header{
    margin-bottom: 2em; 
}

.myCard{
    padding:2em;
}

.notification{
    position: fixed;
    bottom: 40px;
    right: 0;
    animation-name: example;
    animation-duration: 2s;
    /* animation-delay: 2s; */
}

@keyframes example {
    0%   { bottom:0px; }
    100% { bottom:40px; }
}

.back a{
    cursor: pointer;
    position: relative;
    left: -15px;
    top: -223px;
}

.ml{
    margin-left: -58px;
}
