<div class="container myContainer">
  <div class="header">
      <h3>Este novo card fara parte do Game Object <strong>{{ nameGO }}</strong></h3>
  </div>
  <div class="row myRow justify-content-center align-items-center">
    <div class="back">
        <a (click)="back()"><i class="fa fa-arrow-circle-o-left fa-2x align-top" aria-hidden="true"></i></a>
    </div>
    <div class="col-8 card myCard" [style.background-color]="backGroundCard">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Título</label>
          <div class="col-sm-10">
            <input type="name" class="form-control" id="inputNome" placeholder="Ex: 'Arte Concept'" name="nome" ngModel>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Descrição</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="inputTextarea" rows="3" name="desc" ngModel></textarea>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Data de entrega</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="bday" ngModel>    
            </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <label class="col-form-label col-sm-2 pt-0">Status</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="1" checked ngModel>
                <label class="form-check-label" for="gridRadios1">
                  A fazer
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="gridRadios2" value="2" ngModel>
                <label class="form-check-label" for="gridRadios2">
                  Desenvolvendo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="status" id="gridRadios3" value="3" ngModel>
                <label class="form-check-label" for="gridRadios3">
                  Concluído
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Submodulo</label>
          <div class="col-sm-10">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="0" (click)="toggleColor(0)" ngModel><!-- 0 para tooggle Arte -->
                  <label class="form-check-label" for="inlineRadio1" (click)="toggleColor(0)">Arte</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="1" (click)="toggleColor(1)" ngModel><!-- 1 para tooggle Programacao -->
                  <label class="form-check-label" for="inlineRadio2" (click)="toggleColor(1)">Programação</label>
                </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Responsável:</label>
          <div class="col-sm-6 ml" >
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Escolher Membros
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let member of listMembers"  class="dropdown-item" (click)="addSelectMember(member)">{{ member.fullName }}</a>
                  </div>
                </div>
                <div class="escolhidos">
                  <ul>
                    <li *ngFor="let membro of listSelectedMembers" class="row" >
                      <div class="col-6">
                          {{ membro?.nome }}
                      </div>
                      <div class="col-2" (click)="dropSelectMember(membro?.id)">  
                          <i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                      </div>
                    </li>
                  </ul>
                </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Criar Card</button>
          </div>
        </div>
      </form>    
    </div>
    <div class="col-4 alert alert-success alert-dismissible fade show notification" role="alert" [style.display]="display">
      <strong>{{ notification.type }}</strong> {{ notification.text }}
      <!-- <strong>Sucesso!</strong> Seu card foi criado. -->
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

