
button.ball {
    display: block;
    width: 100px;
    height: 100px;
    margin: 30px auto 0;
    background-color: #FCFE52;
    /* background-image: url("https://image.freepik.com/free-vector/black-and-white-grunge-texture_1048-4629.jpg"); */
    border: none;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    transition: transform 1s;
}

button.ball:hover{
    transform: scale(1.2);
}
button.ball.static:hover{
    transform: none;
}

button.ball:focus{
    outline: none;
}

.subModule{
    display: none;
}

.none{
    display: none !important;
}

.animateSubModule{
    width: 80vw;height: 80vh;
    display: block;
    background:transparent;
    /* animation-name: expand-div;
    animation-duration: 2s; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* @keyframes expand-div {
    0%   {opacity: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);position: fixed;}
    100% {opacity: 1;top: 50%;left: 50%;transform: translate(-50%, -50%);position: fixed;}
}
@keyframes expand-card {
    0%   {visibility: hidden}
    100% {visibility: hidden}
} */

.col-head { color: white; border-bottom: thick solid rgba(0, 0, 0, 0.2); border-radius: 5px 5px 0 0; }
.col-head span { color: white; font-size: 3em; padding: 15px; border: thick solid white; border-radius: 50%; margin-top: -45px; background-color: #BE1E2D; }
.col-head h2 { margin-top: 7px; margin-bottom: 5px; font-size: 2em; font-weight: 700; }
.col-head.arte { background-color: #FBBA42; }
.col-head.programacao { background-color: #56B9D0; }


.my-card{
    padding-left: 0px;
    padding-right: 0px;
    animation-name: expand-card;
    animation-duration: 1s;
}

.cardGO{
    background: #FBBA42;
}

.card-select{
  /* background: #fff; */
  border-radius: 2px;
  display: inline-block;
  /* height: 300px; */
  margin-bottom: 30px !important;
  position: relative;
  width: 100%;
  /* width: 300px; */
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.card-title{
    color:white;
}

#percent{
    border-radius: 50%;
    border: 4px solid rgb(251, 186, 66);
    border-style: double;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    left: -16px;
}

#percent span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
} 

.card-header{
    padding: 0.35rem 1.25rem;
}

.icon {
    width:25px; height:25px;
    display:inline-block;
    vertical-align:middle;
}

.div-icon{
    float: right;
}

.div-icon.paddingLeft{
    padding-left:25px;; 
}


/* BUTTON FLOAT ADD */


.mdl-button--fab{
    position: fixed !important;
    right: 40px;
    bottom: 100px;
    border-radius: 50% !important;
    font-size: 24px !important;
    height: 56px !important;
    margin: auto !important;
    min-width: 56px !important;
    width: 56px !important;
    padding: 0 !important;
    overflow: hidden !important;
    background: #56B9D0;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24) !important;
    line-height: normal !important;
}

.mdl-button {
    border: none;
    border-radius: 2px;
    color: white;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button .material-icons {
    vertical-align: middle;
}

.mdl-button--fab .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}
.material-icons {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.mdl-button--fab:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2) !important;
    background-color: rgb(58, 153, 175);
}


/* BUTTON FLOAT ADD */

.collapse-flex{
    display: flex;
    background: white;
}

.collapse-flex button{
    min-width: 100%;
}