<h1 class="text-left pb-5">{{ board?.name }}</h1>
<div class="row justify-content-left" style="text-align:center;position: relative;">
    <div class="col-4" [class.none]="anime" *ngFor="let object of gameObjects" >
            <!-- (click)="choiceSubModule(object)" -->
            <!-- data-toggle="collapse" [attr.data-target]="'#' + object.name" -->
            <div class="card cardGO mb-3 card-select card-1"  [routerLink]="['/game-objects/sub-module-arte', object.id]" >
                <div class="card-header row justify-content-between align-items-center" style="margin-right: 0px;
                margin-left: 0px;">
                    <div id="percent" title="Porcentagem de conclusão do GO"><span class="align-middle">{{ progress(object.cards.length,cardsPending(object.cards)) }}%</span></div>
                    <div class="sub-header"><h5 class="card-title">{{ object.name }}</h5></div>
                </div>
                <!-- <div [attr.id]="object.name" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body collapse-flex">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-warning font-weight-bold" [routerLink]="['/game-objects/sub-module-arte', object.id, object.name]">Arte</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary font-weight-bold" [routerLink]="['/game-objects/sub-module-programacao', object.id , object.name]">Programação</button>
                        </div>
                    </div>
                </div> -->
                  
                <!-- <img class="card-img-top" src="assets\img\logo.jpg" alt="Card image cap"> -->
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item" >
                        <div title="Número de cards pendentes" class="div-icon paddingLeft"><i class="fa fa-hourglass-half fa-lg"></i> {{ cardsPending(object.cards) }}</div>
                        <div title="Total de cards" class="div-icon"><i class="fa fa-window-restore fa-lg"></i> {{ object.cards.length }} </div>
                    </li>
                </ul>
            </div>
        <!-- <button class="ball" [class.animationClick]="anime" (click)="choiceSubModule()"></button> -->
        <!-- <span>HEROI X</span> -->
    </div>
    <!-- FAB button with ripple -->
    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <!-- 0 define que esse GO é do type = Arte -->
        <i class="fa fa-plus material-icons"></i>
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Criar novo Game Object</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                    <input type="name" class="form-control" id="inputNome" placeholder="Ex: 'Heroi do jogo'" name="nome" ngModel>
                    </div>
                </div>
                <div class="float-right mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning text-white">Criar Game Object</button>
                </div>
            </form>   
        </div>
      </div>
    </div>
  </div>

