<div class="row myRow justify-content-center align-items-left">
    <div class="col-8 card">      
        <div class="card-body">
            <h5 class="card-title">Membros do Projeto</h5>
            <ul>
              <li *ngFor="let member of listMembers" >{{ member.fullName }}</li>
            </ul>
          </div>
    </div>
    <div class="col-8 card myCard mt-3">      
        <h5 class="card-title">Adicionar Membros</h5>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Identificador</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="idMember" [(ngModel)]="idMember">
          </div>
          <div class="col-sm-3">
              <button type="submit" class="btn btn-success" (click)="verificaId()">Verificar</button>
            </div>
        </div>
    </div>

    <!-- Result Pesquisa Membro -->
    <div *ngIf="dadosMember" class="col-8 card cardMember myCard">
        <div class="card-body">
          <h5 class="card-title">{{ memberName }}</h5>
          <p class="card-text">Você esta certo que deseja adicionar {{ memberName}} ao projeto.</p>
        </div>
        <div class="card-body text-right">
            <button type="submit" class="btn btn-success" (click)="addMember()">Confirmar</button>
            <button type="submit" class="btn btn-secondary">Cancelar</button>
          </div>
      </div>
      <div *ngIf="alert"  class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <strong>Sucesso!</strong> Este membro agora faz parte do projeto.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>